:root{
    --lightgray: #e0e0e0;
  }
  body{
    background: var(--lightgray);
    font-family: Arial, Helvetica, sans-serif;
  }

  header{
    text-align: center;
    background-color: #0091cb;
    text-decoration-color: white ;
    


  }
